<nat>
	<natRules>
		<natRule>
			<ruleTag>{{ natRule.ruleTag }}</ruleTag>
			<action>{{ natRule.action }}</action>
			<vnic>{{ natRule.vnic }}</vnic>
			<originalAddress>{{ natRule.originalAddress }}</originalAddress>
			<translatedAddress>{{ natRule.translatedAddress }}</translatedAddress>
			<dnatMatchSourceAddress>{{ natRule.dnatMatchSourceAddress }}</dnatMatchSourceAddress>
			<loggingEnabled>{{ natRule.loggingEnabled }}</loggingEnabled>
			<enabled>{{ natRule.enabled }}</enabled>
			<description>{{ natRule.description }}</description>
			<protocol>{{ natRule.protocol }}</protocol>
			<originalPort>{{ natRule.originalPort }}</originalPort>
			<translatedPort>{{ natRule.translatedPort }}</translatedPort>
			<dnatMatchSourcePort>{{ natRule.dnatMatchSourcePort }}</dnatMatchSourcePort>
		</natRule>
	</natRules>
</nat>