<ospf>
	<enabled>true</enabled>
	<ospfAreas>
		<ospfArea>
			<areaId>100</areaId>
			<translateType7ToType5></translateType7ToType5>
			<type>normal</type>
			<authentication>
				<type>password</type>
				<value>vmware123</value>
			</authentication>
		</ospfArea>
	</ospfAreas>
	<ospfInterfaces>
		<ospfInterface>
			<vnic>0</vnic>
			<areaId>100</areaId>
			<helloInterval>10</helloInterval>
			<deadInterval>40</deadInterval>
			<priority>128</priority>
			<cost>10</cost>
		</ospfInterface>
	</ospfInterfaces>
	<redistribution>
		<enabled>true</enabled>
		<rules>
			<rule>
				<prefixName>a</prefixName>
				<from>
					<isis>true</isis>
					<ospf>false</ospf>
					<bgp>false</bgp>
					<static>false</static>
					<connected>true</connected>
				</from>
				<action>deny</action>
			</rule>
		</rules>
	</redistribution>
</ospf>