<bgp>
	<enabled>true</enabled>
	<localAS>65534</localAS>
	<localASNumber>65534</localASNumber>
	<bgpNeighbours>
		<bgpNeighbour>
			<ipAddress>192.168.1.10</ipAddress>
			<remoteAS>65500</remoteAS>
			<remoteASNumber>65500</remoteASNumber>
			<weight>60</weight>
			<holdDownTimer>180</holdDownTimer>
			<keepAliveTimer>60</keepAliveTimer>
			<password>vmware123</password>
			<bgpFilters>
				<bgpFilter>
					<direction>in</direction>
					<action>permit</action>
					<network>10.0.0.0/8</network>
					<ipPrefixGe>17</ipPrefixGe>
					<ipPrefixLe>32</ipPrefixLe>
				</bgpFilter>
			</bgpFilters>
		</bgpNeighbour>
	</bgpNeighbours>
	<redistribution>
		<enabled>true</enabled>
		<rules>
			<rule>
				<prefixName>a</prefixName>
				<from>
					<ospf>false</ospf>
					<bgp>false</bgp>
					<static>faWlse</static>
					<connected>true</connected>
				</from>
				<action>permit</action>
			</rule>
		</rules>
	</redistribution>
</bgp>