{% if dnsClient is defined %}
<dnsClient>
	{% if primaryDns is defined %}
	<primaryDns>{{ primaryDns }}</primaryDns>
	{% endif %}
	{% if secondaryDns is defined %}
	<secondaryDns>>{{ secondaryDns }}</secondaryDns>
	{% if domainName is defined %}
	<domainName>>{{ domainName }}</domainName>
	{% endif %}
	{% endif %}	
</dnsClient>
{% endif %}