.tableWrapper{
    font-family: inherit;
    width: 95vw;
    background-color: transparent;
}

.tableWrapper H6 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    
}
.tableWrapper td {
    font-size: .8rem;
    line-break: strict;
    /* text-transform: capitalize; */
}
.tableWrapper button {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.servicesTable {
    background-color: #f9f9f9 !important;
}
