<virtualWireCreateSpec>
	<name>{{ name }}</name>
	<description>{{ description }}</description>
	<tenantId>{{ tenantId }}</tenantId>
	{% if controlPlaneMode is defined %}
	<controlPlaneMode>{{ controlPlaneMode }}</controlPlaneMode>
	{% endif %}
	{% if guestVlanAllowed is defined %}
	<guestVlanAllowed>{{ guestVlanAllowed }}</guestVlanAllowed>
	{% endif %}
</virtualWireCreateSpec>